<section class="m-4">
    <form action="/login" method="POST" class="mx-auto w-25 p-4 shadow p-3 mb-5 bg-white rounded">
      <% if (messages.error) { %>
        <span class="text-danger font-weight-bold"><%= messages.error %> </span>
      <% } %> 
      <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
         </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <button type="submit" class="btn order-btn my-4 rounded d-inline">Login</button>
            <div class="text-right">
                <a href="/register" class="link">Already have account</a>
            </div>
        </div>
      </form>
</section>