<section class="m-4">
    <form class="mx-auto w-25 p-4 shadow p-3 mb-5 bg-white rounded">
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Enter Name">
           </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
         </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <button type="submit" class="btn order-btn my-4 rounded d-inline">Register</button>
            <div class="text-right">
                <a href="/login" class="link">Don't have account</a>
            </div>
        </div>
      </form>
</section>